/* global */
body{
    background-color: skyblue;
}

.box {
    background-color: #fff;
    border-radius: 0.937rem;
    box-shadow: 0px 24px 40px rgba(134, 151, 168, 0.25);
    padding: 1.875rem;
    position: relative;
    transition: box-shadow .3s ease-in-out;
}
.title-h1 {
    font-size: 2rem;
    margin-bottom: 1.1rem;
}

.box-inner {
    background-color: #F8FAFB;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 0;
}

.title-separate {
    margin-bottom: 2.3rem;
    position: relative;
}

.banner-img {
    background: url(../img/banner-img.jpg) no-repeat;
    background-size: cover;
}
.view-box {
    max-height: 180px;
    max-width: 180px;
    height: 180px;
    width: 180px;
    filter: drop-shadow(0 2px 8px rgba(134, 151, 168, 0.15)) drop-shadow(0 8px 32px rgba(134, 151, 168, 0.15));
}

.title-separate::before {
    content: '';
    background-color: #0045FF;
    border-radius: .5rem;
    height: 4px;
    position: absolute;
    bottom: -1.1rem;
    left: 0;
    width: 3.12rem;
    z-index: 1;
}
.case-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    height: calc(100% - 1.875rem);
    margin-bottom: 1.875rem;
    padding: 1.875rem 1.875rem 1.5rem;
    position: relative;
}

.box-second {
    background-color: #fff;
    border-radius: 0.937rem;
    box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
}

.box::before {
    content: '';
    box-shadow: 0px 24px 40px rgba(134, 151, 168, 0.15);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1rem;
    width: 86%;
    z-index: -1;
}